pkgbase = openai-codex-bin
	pkgdesc = Arch Linux package for OpenAI's Codex CLI - Auto Updated
	pkgver = 0.146.1
	pkgrel = 1
	url = https://github.com/openai/codex
	arch = x86_64
	arch = aarch64
	license = Apache
	optdepends = git: for working with git repositories
	optdepends = ripgrep: accelerated large-repo search
	provides = openai-codex
	conflicts = openai-codex
	conflicts = openai-codex-autoup-bin
	replaces = openai-codex-autoup-bin
	source_x86_64 = codex-0.146.1-x86_64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.146.1/codex-x86_64-unknown-linux-musl.tar.gz
	source_x86_64 = codex-code-mode-host-0.146.1-x86_64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.146.1/codex-code-mode-host-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = f558105aec12bf6fb33570793adfc089f8b41dc32aced60b8b4fba9b451824ac
	sha256sums_x86_64 = 60cf8c584043b4ba4048e52126857d1e5d3047aa06da66a7aedbce95a5544824
	source_aarch64 = codex-0.146.1-aarch64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.146.1/codex-aarch64-unknown-linux-musl.tar.gz
	source_aarch64 = codex-code-mode-host-0.146.1-aarch64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.146.1/codex-code-mode-host-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = 05de65ee7b6bd02038e720cc313941d5ec6794718e4261bd28fd83b93fe34d43
	sha256sums_aarch64 = 329a2d96c2ac57158d1692e4f8bfd2a856665b31ee59771dea1d82818e415239

pkgname = openai-codex-bin
