pkgbase = openai-codex-bin
	pkgdesc = Arch Linux package for OpenAI's Codex CLI - Auto Updated
	pkgver = 0.156.1
	pkgrel = 1
	url = https://github.com/openai/codex
	arch = x86_64
	arch = aarch64
	license = Apache
	depends = glibc
	depends = alsa-lib
	optdepends = git: for working with git repositories
	optdepends = ripgrep: accelerated large-repo search
	optdepends = pipewire-alsa: voice audio through PipeWire
	provides = openai-codex
	conflicts = openai-codex
	conflicts = openai-codex-autoup-bin
	replaces = openai-codex-autoup-bin
	options = !strip
	options = !debug
	source_x86_64 = codex-package-0.156.1-x86_64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.156.1/codex-package-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = 8b711520beddf385467b8da4d2c93736637c6ba1e46811cf0d8606b7c490b6f6
	source_aarch64 = codex-package-0.156.1-aarch64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.156.1/codex-package-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = fdd47ed6aade0360796fd3f6f95a45096f327c15e19e8c7339f9dc5633041786

pkgname = openai-codex-bin
