pkgbase = openai-codex-bin
	pkgdesc = Lightweight coding agent that runs in your terminal
	pkgver = 0.22.0
	pkgrel = 1
	url = https://github.com/openai/codex
	arch = x86_64
	arch = aarch64
	license = Apache
	optdepends = git: for working with git repositories
	optdepends = ripgrep: accelerated large-repo search
	provides = openai-codex
	conflicts = openai-codex
	source_x86_64 = codex-0.22.0.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.22.0/codex-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = b9bcc9ccded18de331b85513e7b308226899c1577cc8d33c700d34d676085ed6
	source_aarch64 = codex-0.22.0.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.22.0/codex-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = b9bcc9ccded18de331b85513e7b308226899c1577cc8d33c700d34d676085ed6

pkgname = openai-codex-bin
