pkgbase = openai-codex-bin
	pkgdesc = Lightweight coding agent that runs in your terminal
	pkgver = 0.19.0
	pkgrel = 1
	url = https://github.com/openai/codex
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	optdepends = git: for working with git repositories
	optdepends = ripgrep: accelerated large-repo search
	provides = openai-codex
	conflicts = openai-codex
	source_x86_64 = codex-0.19.0.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.19.0/codex-x86_64-unknown-linux-gnu.tar.gz
	source_x86_64 = codex-exec-0.19.0.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.19.0/codex-exec-x86_64-unknown-linux-gnu.tar.gz
	source_x86_64 = codex-linux-sandbox-0.19.0.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.19.0/codex-linux-sandbox-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = a8202a1846fc63053bd3118c4c6a306eb1534536b2a5038bff3394a70ac207c1
	sha256sums_x86_64 = f387427dcf4bd9af511a8ae72e8a2fa4098604c5a9233ec903d411bb86edd4a4
	sha256sums_x86_64 = 2e1fe99b1c7917ae2e1f000ce425c46438ab5ebadb6e545e400237238e324b23
	source_aarch64 = codex-0.19.0.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.19.0/codex-aarch64-unknown-linux-gnu.tar.gz
	source_aarch64 = codex-exec-0.19.0.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.19.0/codex-exec-aarch64-unknown-linux-gnu.tar.gz
	source_aarch64 = codex-linux-sandbox-0.19.0.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.19.0/codex-linux-sandbox-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = a8202a1846fc63053bd3118c4c6a306eb1534536b2a5038bff3394a70ac207c1
	sha256sums_aarch64 = f387427dcf4bd9af511a8ae72e8a2fa4098604c5a9233ec903d411bb86edd4a4
	sha256sums_aarch64 = 2e1fe99b1c7917ae2e1f000ce425c46438ab5ebadb6e545e400237238e324b23

pkgname = openai-codex-bin
